PORT=5500
# MONGODB_URI=mongodb://localhost:27017/pos-erp
MONGODB_URI=mongodb+srv://mangilal2001warrgyizmorsch_erp_db:Test1234@cluster0.vnruzut.mongodb.net/pos-erp?retryWrites=true&w=majority
JWT_SECRET=p>p_^=pSe8CE!TjXK}uSH]}[*Cs(-!u<m7a$>Rz75zpcTmn/VhigUML5g,/,5e5(ZV)sr:cfExa_9.AwV0Q<I}C
JWT_EXPIRE=7d
NODE_ENV=development